@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.4s ease-in-out;
}
/* Root styling */
:root {
  font-family: Avenir, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1f2937;
  background-color: #f9fafb;

}
button{
  cursor: pointer;
}
[data-tauri-drag-region] {
  -webkit-app-region: drag;
}

[data-tauri-drag-region] button {
  -webkit-app-region: no-drag;
}
button:hover{
  background-color: darkcyan;
}
/* General styles */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --tw-bg-opacity:1;
  background-color: rgb(39,43,43);
}

/* Headings */
h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Primary Button */
.btn-primary {
  background-color: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #1e40af;
}

/* Modal Background */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Box */
.modal-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.corporate-name{
  border-top: 1px solid gray;
  height: 50px;
  vertical-align: center;
}